*
**
!Cargo.toml
!Cargo.lock

!deps
!dylink
!xtask
!common
!aggynfrens_api

!aggy_api/Cargo.toml
!aggy_api/src
!aggy_api/migrations

!doface_api/Cargo.toml
!doface_api/src
!doface_api/migrations

!epigram_api/Cargo.toml
!epigram_api/src
!epigram_api/migrations

!qtrunk_api/Cargo.toml
!qtrunk_api/src
!qtrunk_api/migrations

!.sqlx
