[package]
name = "deps"
version.workspace = true
edition.workspace = true

[lib]
path = "lib.rs"

[dependencies]

rand = "*"
brotli = "*"
data-encoding = "2.4"
ed25519-dalek = { version = "2.0.0-rc.3", features = ["serde", "rand_core"] }
argon2 = { package = "rust-argon2", version = "1.0.0" }
blake3 = { version = "1.4" }
schnorrkel = { version = "0.10", features = ["serde"] }
k256 = { version = "0.13", features = ["serde"] }

regex = "1.6"
# chrono = "0.4"
time = { version = "0.3", features = ["serde", "parsing"] }
uuid = { version = "1", features = ["v4", "v7", "fast-rng", "serde"] }
# flume = "0.10"
once_cell = "1.8"
parking_lot = "*"
# bitflags = "*"
# downcast-rs = "1.2"
# itertools = "*"

# smallvec = { version = "1.6", features = ["serde", "const_generics", "const_new", "union"] }
# smartstring = { version = "1", features = ["serde"] }

educe = "0.4"
# derivative = { version = "2.2.0", }

thiserror = "1.0.3"
tracing-error = "0.2"
tracing-unwrap = "0.10.0"

serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_repr = "0.1"

color-eyre = "0.6"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "parking_lot",
] }
tracing-appender = "0.2"
tracing-futures = "0.2"

async-trait = "*"
futures = "0.3"
# futures-lite = "1.11"
tokio = { version = "1", features = ["full", "parking_lot"] }
tokio-stream = "0.1"

axum = { version = "0.6.18", features = ["headers", "tracing", "ws"] }
tower = { version = "*", features = [] }
tower-http = { version = "*", features = ["full"] }
hyper = { version = "*", features = ["server", "tcp", "stream", "http1"] }
tokio-tungstenite = { version = "*", features = ["rustls-tls-webpki-roots"] }

utoipa = { version = "3.3", features = [
  "debug",
  "uuid",
  "time",
  "smallvec",
  "axum_extras",
  "preserve_order",
] }
utoipa-swagger-ui = { version = "3.1", features = ["axum"] }

# config = { version = "0.13", features = ["toml"] }
dotenvy = "0.15"

redis = { version = "0.23.0", features = [
  "tokio-comp",
  "tokio-rustls-comp",
  "streams",
  "connection-manager",
] }
bb8-redis = "0.13.1"
lettre = { version = "0.10.4", features = [
  "tokio1-rustls-tls",
  "serde",
  "tracing",
  "smtp-transport",
  "pool",
  "builder",
], default-features = false }

[build-dependencies]
cargo_toml = "0.15.3"
toml = "*"
