name: 'Migrate database schema'

on: workflow_dispatch

jobs:
  migrate-aggy-postgres:
    name: Apply migrations for the aggy db
    runs-on: ubuntu-latest
    environment: production
    timeout-minutes: 5
    env:
      FLYWAY_URL: jdbc:postgresql://${{ vars.AGGY_PG_HOST }}:${{ vars.AGGY_PG_PORT }}/${{ vars.AGGY_PG_DB }}?user=${{ vars.AGGY_PG_USER }}&password=${{ secrets.AGGY_PG_PASS }}&sslmode=require
    steps:
      - uses: actions/checkout@v3
      - run: >-
          docker run --rm
          -v ${{ github.workspace }}:/flyway/conf:ro
          -v ${{ github.workspace }}/aggy_api/migrations:/flyway/sql:ro
          -e FLYWAY_URL
          flyway/flyway:9.18-alpine 
          migrate -X
